html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  overflow: hidden;
}

#root > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div > div {
  padding: 5px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  will-change: transform;
  border-radius: 10px;
}

img {
  height: 60vh;
  border-radius: 10px;
  object-fit: cover;
}

.card > div {
  height: 60vh !important;
}

.button-container {
  text-align: center;
}

.load-button {
  background: white;
  border-radius: 8px;
  padding: 8px;
  box-shadow: rgba(40, 40, 40, 0.35) 0px 5px 15px;
  border: white;
  cursor: pointer;
  font-size: 35px;
}

.load-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
